/* ="Add Shortcode" Button
-----------------------------------------------*/

.tb-insert-shortcode .tb-icon {
	color: #888888;
	display: inline-block;
	font-family: "theme-blvd-admin";
	margin: -2px 2px 0 0;
	vertical-align: text-top;
	width: 18px;
	height: 18px;
}
.tb-insert-shortcode .tb-icon:before {
	content: '\e810';
	font: 400 18px/1 "theme-blvd-admin";
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* =Modal Window
-----------------------------------------------*/

#tb-shortcode-generator {
	display: none;
}
#tb-shortcode-generator .tb-group-show {
	display: block;
}
#tb-shortcode-generator .tb-group-hide {
	display: none;
}
#tb-shortcode-generator .attachments-browser .attachments {
	padding-right: 0;
	right: 0;
}
#tb-shortcode-generator #optionsframework {
	position: absolute;
	max-width: none;
}
#tb-shortcode-generator .tb-group {
	background: #ffffff;
	top: 0;
}
#tb-shortcode-generator a {
	outline: none;
}

/* =Options
-----------------------------------------------*/

#tb-shortcode-generator #optionsframework .section .heading {
	font-size: 16px;
}
#tb-shortcode-generator #optionsframework .section .explain,
#tb-shortcode-generator #optionsframework .section .explain p {
	font-size: 14px;
}
#tb-shortcode-generator #optionsframework .section .explain p {
	margin: 0 0 15px 0;
	padding: 0;
}
#tb-shortcode-generator #optionsframework .tb-fancy-select select {
	margin-top: 0;
}
.colorpicker {
	z-index: 170000;
}

/* =Preview
-----------------------------------------------*/

#tb-shortcode-generator .shortcode-preview-wrap {
	background: #ffffff;
	border-bottom: 1px solid #dfdfdf;
	-webkit-box-shadow: 0 4px 4px -4px rgba(0,0,0,.1);
	box-shadow: 0 4px 4px -4px rgba(0,0,0,.1);
}
#tb-shortcode-generator .shortcode-preview {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	color: #666666;
	font-family: monospace, monospace;
	margin: 10px;
	padding: 19px;
}

/* =Icon Browser
-----------------------------------------------*/

#tb-shortcode-generator .icon-browser {
	border: 1px solid #dfdfdf;
	margin: 12px;
	margin-bottom: 0;
}
#tb-shortcode-generator .icon-browser-title a {
	background: #f2f2f2;
	color: #444444;
	display: block;
	font-size: 14px;
	outline: 0;
	padding: 10px;
	position: relative;
	text-decoration: none;
}
#tb-shortcode-generator .icon-browser-title .fa {
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 16px;
}
#tb-shortcode-generator .icon-browser-title a:hover {
	background: #eeeeee;
}
#tb-shortcode-generator .icon-browser-content {
	border-top: 1px solid #dfdfdf;
	padding: 20px;
}
#tb-shortcode-generator .icon-browser-help {
	background: #f2f2f2;
	font-style: italic;
	margin: 0 0 10px 0;
	padding: 5px 10px;
}
#tb-shortcode-generator .select-icon-wrap {
	display: inline-block;
}
#tb-shortcode-generator .select-icon {
	color: #666666;
	display: inline-block;
	margin: 10px 5px;
	outline: 0;
}
#tb-shortcode-generator .select-icon:hover {
	color: #d54e21;
}
#tb-shortcode-generator .select-icon.selected {
	color: #2ea2cc;
}

/* =Tooltips
-----------------------------------------------*/

#tb-shortcode-generator .tooltip-wrap {
	position: relative;
}
#tb-shortcode-generator .tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 12px;
	line-height: 1.4;
	padding: 5px 0;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 80px;
}
#tb-shortcode-generator .tooltip.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
#tb-shortcode-generator .tooltip.fade.in {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#tb-shortcode-generator .tooltip-inner {
	max-width: 400px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	border-radius: 4px;
}
#tb-shortcode-generator .tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
#tb-shortcode-generator .tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}

/* =Color Browser
-----------------------------------------------*/

#tb-shortcode-generator .select-color-wrap {
	display: inline-block;
	margin: 2px;
}
#tb-shortcode-generator .select-color {
	border: 3px solid #ffffff;
	cursor: pointer;
	display: inline-block;
	margin: 1px;
	outline: 0;
	padding: 1px;
	position: relative;
}
#tb-shortcode-generator .color-browser .select-color span {
	border: none;
	display: inline-block;
	margin: 0;
	outline: none;
	padding: 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}
#tb-shortcode-generator .color-browser .select-color-wrap.selected .select-color,
#tb-shortcode-generator .color-browser .select-color:hover {
	border-color: #cccccc;
	padding: 1px;
}
#tb-shortcode-generator .color-browser .tooltip {
	margin-top: -10px;
}
#tb-shortcode-generator .color-browser .select-color span.btn-default,
#tb-shortcode-generator .color-browser .select-color span.white {
	border: 1px solid #cccccc;
	width: 39px;
	height: 39px;
}

/* Black */
#tb-shortcode-generator .color-browser .black {
	background-color: #313131;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .black {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#070707));
	background-image: -webkit-linear-gradient(top, #313131, #070707);
	background-image: -moz-linear-gradient(top, #313131, #070707);
	background-image: -o-linear-gradient(top, #313131, #070707);
	background-image: -ms-linear-gradient(top, #313131, #070707);
	background-image: linear-gradient(top, #313131, #070707);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#313131', EndColorStr='#070707');
}

/* Blue */
#tb-shortcode-generator .color-browser .blue {
	background-color: #00437f;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .blue {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00437f), to(#012e5a));
	background-image: -webkit-linear-gradient(top, #00437f, #012e5a);
	background-image: -moz-linear-gradient(top, #00437f, #012e5a);
	background-image: -o-linear-gradient(top, #00437f, #012e5a);
	background-image: -ms-linear-gradient(top, #00437f, #012e5a);
	background-image: linear-gradient(top, #00437f, #012e5a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00437f', EndColorStr='#012e5a');
}

/* Brown */
#tb-shortcode-generator .color-browser .brown {
	background-color: #6b3c02;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .brown {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6b3c02), to(#4f2b04));
	background-image: -webkit-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: -moz-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: -o-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: -ms-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: linear-gradient(top, #6b3c02, #4f2b04);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6b3c02', EndColorStr='#4f2b04');
}

/* Dark Blue */
#tb-shortcode-generator .color-browser .dark_blue {
	background-color: #153f5a;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .dark_blue {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#153f5a), to(#092334));
	background-image: -webkit-linear-gradient(top, #153f5a, #092334);
	background-image: -moz-linear-gradient(top, #153f5a, #092334);
	background-image: -o-linear-gradient(top, #153f5a, #092334);
	background-image: -ms-linear-gradient(top, #153f5a, #092334);
	background-image: linear-gradient(top, #153f5a, #092334);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#153f5a', EndColorStr='#092334');
}

/* Dark Brown */
#tb-shortcode-generator .color-browser .dark_brown {
	background-color: #572f05;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .dark_brown {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#572f05), to(#371c02));
	background-image: -webkit-linear-gradient(top, #572f05, #371c02);
	background-image: -moz-linear-gradient(top, #572f05, #371c02);
	background-image: -o-linear-gradient(top, #572f05, #371c02);
	background-image: -ms-linear-gradient(top, #572f05, #371c02);
	background-image: linear-gradient(top, #572f05, #371c02);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#572f05', EndColorStr='#371c02');
}

/* Dark Green */
#tb-shortcode-generator .color-browser .dark_green {
	background-color: #485a21;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .dark_green{
	background-color: #485a21;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#485a21), to(#2e3b13));
	background-image: -webkit-linear-gradient(top, #485a21, #2e3b13);
	background-image: -moz-linear-gradient(top, #485a21, #2e3b13);
	background-image: -o-linear-gradient(top, #485a21, #2e3b13);
	background-image: -ms-linear-gradient(top, #485a21, #2e3b13);
	background-image: linear-gradient(top, #485a21, #2e3b13);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#485a21', EndColorStr='#2e3b13');
}

/* Green */
#tb-shortcode-generator .color-browser .green {
	background-color: #74941f;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .green {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74941f), to(#516812));
	background-image: -webkit-linear-gradient(top, #74941f, #516812);
	background-image: -moz-linear-gradient(top, #74941f, #516812);
	background-image: -o-linear-gradient(top, #74941f, #516812);
	background-image: -ms-linear-gradient(top, #74941f, #516812);
	background-image: linear-gradient(top, #74941f, #516812);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#74941f', EndColorStr='#516812');
}

/* Mauve */
#tb-shortcode-generator .color-browser .mauve {
	background-color: #7b726c;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .mauve {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7b726c), to(#3e3935));
	background-image: -webkit-linear-gradient(top, #7b726c, #3e3935);
	background-image: -moz-linear-gradient(top, #7b726c, #3e3935);
	background-image: -o-linear-gradient(top, #7b726c, #3e3935);
	background-image: -ms-linear-gradient(top, #7b726c, #3e3935);
	background-image: linear-gradient(top, #7b726c, #3e3935);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7b726c', EndColorStr='#3e3935');
}

/* Orange */
#tb-shortcode-generator .color-browser .orange {
	background-color: #ff9624;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .orange {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9624), to(#a76013));
	background-image: -webkit-linear-gradient(top, #ff9624, #a76013);
	background-image: -moz-linear-gradient(top, #ff9624, #a76013);
	background-image: -o-linear-gradient(top, #ff9624, #a76013);
	background-image: -ms-linear-gradient(top, #ff9624, #a76013);
	background-image: linear-gradient(top, #ff9624, #a76013);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff9624', EndColorStr='#a76013');
}

/* Pearl */
#tb-shortcode-generator .color-browser .pearl {
	background-color: #bca89d;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .pearl {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bca89d), to(#897a72));
	background-image: -webkit-linear-gradient(top, #bca89d, #897a72);
	background-image: -moz-linear-gradient(top, #bca89d, #897a72);
	background-image: -o-linear-gradient(top, #bca89d, #897a72);
	background-image: -ms-linear-gradient(top, #bca89d, #897a72);
	background-image: linear-gradient(top, #bca89d, #897a72);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bca89d', EndColorStr='#897a72');
}

/* Pink */
#tb-shortcode-generator .color-browser .pink {
	background-color: #de2e81;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .pink {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#de2e81), to(#941b54));
	background-image: -webkit-linear-gradient(top, #de2e81, #941b54);
	background-image: -moz-linear-gradient(top, #de2e81, #941b54);
	background-image: -o-linear-gradient(top, #de2e81, #941b54);
	background-image: -ms-linear-gradient(top, #de2e81, #941b54);
	background-image: linear-gradient(top, #de2e81, #941b54);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#de2e81', EndColorStr='#941b54');
}

/* Purple */
#tb-shortcode-generator .color-browser .purple {
	background-color: #78498e;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .purple {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#78498e), to(#2d1837));
	background-image: -webkit-linear-gradient(top, #78498e, #2d1837);
	background-image: -moz-linear-gradient(top, #78498e, #2d1837);
	background-image: -o-linear-gradient(top, #78498e, #2d1837);
	background-image: -ms-linear-gradient(top, #78498e, #2d1837);
	background-image: linear-gradient(top, #78498e, #2d1837);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#78498e', EndColorStr='#2d1837');
}

/* Red */
#tb-shortcode-generator .color-browser .red {
	background-color: #a7170c;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .red {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a7170c), to(#490502));
	background-image: -webkit-linear-gradient(top, #a7170c, #490502);
	background-image: -moz-linear-gradient(top, #a7170c, #490502);
	background-image: -o-linear-gradient(top, #a7170c, #490502);
	background-image: -ms-linear-gradient(top, #a7170c, #490502);
	background-image: linear-gradient(top, #a7170c, #490502);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a7170c', EndColorStr='#490502');
}

/* Slate Grey */
#tb-shortcode-generator .color-browser .slate_grey {
	background-color: #7f8d9c;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .slate_grey {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7f8d9c), to(#3b424a));
	background-image: -webkit-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: -moz-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: -o-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: -ms-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: linear-gradient(top, #7f8d9c, #3b424a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7f8d9c', EndColorStr='#3b424a');
}

/* Silver */
#tb-shortcode-generator .color-browser .silver {
	background-color: #b5b5b5;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .silver {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#565656));
	background-image: -webkit-linear-gradient(top, #b5b5b5, #565656);
	background-image: -moz-linear-gradient(top, #b5b5b5, #565656);
	background-image: -o-linear-gradient(top, #b5b5b5, #565656);
	background-image: -ms-linear-gradient(top, #b5b5b5, #565656);
	background-image: linear-gradient(top, #b5b5b5, #565656);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b5b5b5', EndColorStr='#565656');
}

/* Steel Blue */
#tb-shortcode-generator .color-browser .steel_blue {
	background-color: #aec3d5;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .steel_blue {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aec3d5), to(#545f69));
	background-image: -webkit-linear-gradient(top, #aec3d5, #545f69);
	background-image: -moz-linear-gradient(top, #aec3d5, #545f69);
	background-image: -o-linear-gradient(top, #aec3d5, #545f69);
	background-image: -ms-linear-gradient(top, #aec3d5, #545f69);
	background-image: linear-gradient(top, #aec3d5, #545f69);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#aec3d5', EndColorStr='#545f69');
}

/* Teal */
#tb-shortcode-generator .color-browser .teal {
	background-color: #03b5cc;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .teal {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#03b5cc), to(#005661));
	background-image: -webkit-linear-gradient(top, #03b5cc, #005661);
	background-image: -moz-linear-gradient(top, #03b5cc, #005661);
	background-image: -o-linear-gradient(top, #03b5cc, #005661);
	background-image: -ms-linear-gradient(top, #03b5cc, #005661);
	background-image: linear-gradient(top, #03b5cc, #005661);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#03b5cc', EndColorStr='#005661');
}

/* Yellow */
#tb-shortcode-generator .color-browser .yellow {
	background-color: #ffcf2d;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .yellow {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcf2d), to(#caa321));
	background-image: -webkit-linear-gradient(top, #ffcf2d, #caa321);
	background-image: -moz-linear-gradient(top, #ffcf2d, #caa321);
	background-image: -o-linear-gradient(top, #ffcf2d, #caa321);
	background-image: -ms-linear-gradient(top, #ffcf2d, #caa321);
	background-image: linear-gradient(top, #ffcf2d, #caa321);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffcf2d', EndColorStr='#caa321');
}

/* Wheat */
#tb-shortcode-generator .color-browser .wheat {
	background-color: #b4ad8b;
}
#tb-shortcode-generator .color-browser.tb-btn-gradient .wheat {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b4ad8b), to(#615d4a));
	background-image: -webkit-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: -moz-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: -o-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: -ms-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: linear-gradient(top, #b4ad8b, #615d4a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b4ad8b', EndColorStr='#615d4a');
}

/* Bootstrap */
.btn-default {
	background-color: #ffffff;
}
.tb-btn-gradient .btn-default {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e0e0e0));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #ccc;ilter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary {
	background-color: #428bca;
}
.tb-btn-gradient .btn-primary {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#2d6ca2));
	background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
	background-image: -moz-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
	background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success {
	background-color: #5cb85c;
}
.tb-btn-gradient .btn-success {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#419641));
	background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
	background-image: -moz-linear-gradient(top, #5cb85c 0%, #419641 100%);
	background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning {
	background-color: #f0ad4e;
}
.tb-btn-gradient .btn-warning {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#eb9316));
	background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: -moz-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger {
	background-color: #d9534f;
}
.tb-btn-gradient .btn-danger {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c12e2a));
	background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
	background-image: -moz-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
	background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info {
	background-color: #5bc0de;
}
.tb-btn-gradient .btn-info {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#2aabd2));
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image: -moz-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}